### IPL Auction Price Data

- The Indian Premier League (IPL) is a professional League for Twenty20(T20) cricket championship that was started in 2008 in India.
- The first IPL auction was held in 2008 for ownership of the team for 10 years with a base price of USD 50 million.
- The franchise acquires players, through an English auction that is conducted every year. However, there are several rules imposed by the IPL for example there is a maximum cap on the money a franchise can spend on buying players.
- The performance of the players could be measured through several metrics. Although the IPL follows the T20 format of the game, it is possible that the performance of the players in the other formats of the game such as Test matches,  One-Day matches can influence player pricing. Few players have excellent records in the Test Matches, but their records in T20 matches are not very impressive.
- The Dataset consists of the performance of 130 Players measured through various performance metrics such as Batting strike rate, economy rate, wicket in Tets matches, Bowling average..etc in the year 2013


Dataset Link:
https://raw.githubusercontent.com/sitmbadept/sitmbadept.github.io/main/BDTM/R/IPL.csv

Write a Python code for following items:
1. Import pandas library in Python
2. Read IPL dataset
3. Display all the columns names and data types
4. Display columns names for the dataset
5. Display Shape of DataFrame
6. Display quick summary of dataset
7. Print Dataset
8. Display top 5 records
10. Display last 5 records
11. Access Variable in Python
12. Frequency count for TEAM Label/Categorical variable
13. Display Unique value for TEAM columns
14. Display Unique count for TEAM & COUNTRY

In [ ]:
#1. Import pandas library in Python

# Download & Install pandas library if you have not installed
# !pip install pandas
import pandas as pd

In [ ]:
#2. Read IPL dataset
ipl = pd.read_csv("https://raw.githubusercontent.com/sitmbadept/sitmbadept.github.io/main/BDTM/R/IPL.csv")

In [ ]:
#3. Display all the columns names and data types
ipl.dtypes

In [ ]:
#4. Display columns names for the dataset
ipl.columns

In [ ]:
#5. Display Shape of DataFrame
ipl.shape

In [ ]:
#6. Display quick summary of dataset
ipl.describe(include="all")

In [ ]:
# 7. Print Dataset
print(ipl)

In [ ]:
#8. Display top 5 records
ipl.head()

In [ ]:
# Display top 50 records
ipl.head(50)

In [ ]:
# 9.Display last 5 records
ipl.tail()

In [ ]:
# Display last 20 records
ipl.tail(20)

In [ ]:
# 10. Access Variable in Python
print(ipl['AGE'])

In [ ]:
print(ipl['COUNTRY'])

In [ ]:
print(ipl[['TEAM']]) #With Double Square Brackets

In [ ]:
# 12. Frequency count for TEAM Label/Categorical variable
ipl[['TEAM']].value_counts()

In [ ]:
#13. Display Unique value for TEAM columns
ipl['TEAM'].unique()

In [ ]:
# 14. Display Unique count for TEAM & COUNTRY
ipl[['TEAM','COUNTRY']].value_counts()